In [5]:
string = " I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
string

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [17]:
words = string.split()
avg_len = sum(len(word) for word in words) / len(words)
avg_len

4.2063492063492065

In [18]:
string.lower()

' i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [20]:
out = "".join(c for c in string if c not in (',','.'))
out

' I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [34]:
out2 = out.split()
out2
out2[10] +' '+out2[11]

'Data Science'

In [39]:
from collections import Counter 
    
freq = Counter(words)
str(freq)

"Counter({'I': 3, 'in': 3, 'to': 3, 'me': 3, 'my': 2, 'the': 2, 'am': 1, 'very': 1, 'keen': 1, 'building': 1, 'up': 1, 'career': 1, 'Data': 1, 'Science,': 1, 'but': 1, 'not': 1, 'sure': 1, 'from': 1, 'where': 1, 'start.': 1, 'If': 1, 'search': 1, 'web': 1, 'it': 1, 'throws': 1, 'thousands': 1, 'of': 1, 'articles,': 1, 'few': 1, 'are': 1, 'relevant': 1, 'others': 1, 'make': 1, 'confused,': 1, 'again': 1, 'come': 1, 'around': 1, 'same': 1, 'page.': 1, 'Supervised': 1, 'has': 1, 'provided': 1, 'a': 1, 'good': 1, 'platform': 1, 'remove': 1, 'all': 1, 'such': 1, 'qualms': 1, 'which': 1, 'were': 1, 'wrangling': 1, 'mind': 1})"

In [40]:
#duplicate pair

In [41]:
string.replace('Supervised','Unsupervised')

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [42]:
string.split('.')

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [46]:
string.count('a')

22

In [50]:
d = {'apple':250,'sugar':500,'rice':2500,'milk':2500,'eggs':12,'atta':1000}
d

{'apple': 250,
 'sugar': 500,
 'rice': 2500,
 'milk': 2500,
 'eggs': 12,
 'atta': 1000}

In [51]:
d1 = {'rice': 1000}

In [52]:
d.update(d1)

In [53]:
d

{'apple': 250,
 'sugar': 500,
 'rice': 1000,
 'milk': 2500,
 'eggs': 12,
 'atta': 1000}

In [55]:
for a,b in d.items():
    print(a)
    print(b)

apple
250
sugar
500
rice
1000
milk
2500
eggs
12
atta
1000

In [58]:
d_price_kg = {'apple':220,'sugar':43,'rice':45,'milk':30,'eggs':60}
d_price_kg

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'eggs': 60}

In [59]:
apple = d_price_kg['apple']/4
sugar = d_price_kg['sugar']/2
rice = d_price_kg['rice']
milk = d_price_kg['milk']* 2.5
eggs = d_price_kg['eggs']

total_bill = apple + sugar + rice + milk + eggs
total_bill

256.5

In [87]:
AI_companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']
AI_companies

['Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime']

In [88]:
AI_companies.sort()
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [89]:
AI_companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

In [71]:
print[item.lower() for item in AI_companies]

SyntaxError: invalid syntax (<ipython-input-71-0851ec15b97d>, line 1)

In [90]:
AI_companies.pop()

'Reliance'

In [91]:
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [95]:
del AI_companies[2:3]
AI_companies

['Amazon', 'Apple', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm']

In [96]:
t = (apple = d_price_kg['apple']/4,sugar = d_price_kg['sugar']/2,rice = d_price_kg['rice'],milk = d_price_kg['milk']* 2.5,eggs = d_price_kg['eggs'])
t

SyntaxError: invalid syntax (<ipython-input-96-220b23a6eaaf>, line 1)

In [97]:
apple = d_price_kg['apple']/4
sugar = d_price_kg['sugar']/2
rice = d_price_kg['rice']
milk = d_price_kg['milk']* 2.5
eggs = d_price_kg['eggs']

In [102]:
milk

75.0

In [99]:
eggs

60

In [110]:
t = (55,21.5,45,75,60)
t

(55, 21.5, 45, 75, 60)

In [111]:
max(t)

75

In [112]:
min(t)

21.5

In [109]:
t1 = ('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm')
t1

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm')

In [113]:
t_com = t + t1
t_com

(55,
 21.5,
 45,
 75,
 60,
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm')

In [114]:
len(t)

5

In [115]:
len(t1)

10